html{
    margin: 0;
}
.employee_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emplyoees{
    width: 90%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.employee_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid black; */
    width: 20%;
    height: 50vh;
    margin: 2vh;
    border-radius: 30px;
    background-color: #c1e5f3;
}
.emp_details{
    /* border: 2px solid blue; */
    flex-direction: column;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.emp_details p{
    font-weight: 600;
    margin: 0;
}
.emp_details h2{
    margin: 0;
}
.emp_connection{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
    width: 105px;
    height: 56px;
    border-radius: 10px;
    margin: 13px;
    background-color: #ffa700;
}
.emp_connection p{
    font-weight: 600;
    margin: 0;
}
.emp_connection h3{
    margin: 0;
}
.profile_pic {
    width: 40%;
    height: 100px;
    /* border: 2px solid black; */
}
.cross{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.cross span{
    margin-right: 19px;
    margin-top: 21px;
}
.employee_card button{
    border: none;
    color: white;
    width: 160px;
    font-size: 20px;
    font-weight: 500;
    height: 35px;
    border-radius: 12px;
    margin: 11px;
    background-color: #3665dd;
}




.heading-1{
    width: 80%;
   /* border: 2px solid blue; */
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.text{
    display: flex;
    width: 80%;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    font-size: 16px;  
    font-weight: 700; 
}
.text span{
    color:#3665dd;
}
.box_1{
    width: 100%;
}
.text p{
    width: max-content;
    margin: 0 10px 0 10px;
}
.box_1 hr{
    background-color: black;
    height: 1px;
}
.more_connections{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.connection{
    /* border: 2px solid yellow; */
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

}
.pending{
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pending_box{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 7px;
    height: 114px;
    margin: 2vh;
}
.pending_pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    /* border: 2px solid orange; */
}
.pending_info{
    width: 60%;
/* border: 2px solid green; */
}
.pending_info p{
    margin: 4px;

}
.pending_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    /* border: 2px solid purple; */

}
.pending_buttons button{
    /* width: 50%; */
    width: 130px;
    height: 40px;
    font-weight: 600;
    margin: 20px;
    border-radius: 7px;
}

.connect_{
    color: white;
    background-color: #3665dd;
    border: none;
}
.decline_{
    color: black;
}
.picture{
    height: 70px;
    background-color: black;
    border-radius: 100%;
}
.picture > img{
    height: 100%;
    border-radius: inherit;
}
.pending_name{
      font-weight: 800;
}
.pending_work{
    font-weight: 600;
}
.pending_connections{
    color:#3665dd;

}

