*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#E5E5E5;
    font-family: poppins;
    background-position: center;
    justify-content: center;
}

.loginbox{
 
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 700px;
    background:#E5E5E5;
    color: black;
    top:20%;
    left:40%;
    bottom: 40%;
    position: absolute;
    border-style: solid;
    padding-left: 12px;
    
    
}
h1{
    margin: 2;
    padding:0 0 20px;
    text-align: center;
    font-family:'poppins',bold;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    width: 87px;
    height: 30px;
    left: 16px;
    top: 93px;
    margin-bottom: 40px;
    padding: 73px 0;
    

}
input{
    background-color: #F4F4F4;
    width: 343px;
    height: 45px;
    left: 16px;
    top: 214px;
    margin: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}
    
.email{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.form-inner a{
float:right;
align-items: baseline;
justify-content: right;
width: 155px;
height: 50px;
padding: 11px 0;


font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 14px;

color:#203341; 
}

.form-outter a{

    text-align: center;
    width: 213px;
    height: 27px;
    align-content: center;
    top: 603px;
    color:#203341; 
    margin-left: 110px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
     
}
.form-inner  .btn{
   
    background-color: #203341;
    width: 255px;
    height: 46px; 
    left: 60px;
    top: 406px;
    color:white ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 0px;

    font-size: 20px;
    margin:70px auto;
    display:block;
    margin-bottom: 200px; 
    
}
.form-outter .btn{
    background-color: #203341;
    width: 255px;
    height: 46px; 
    left: 60px;
    top: 406px;
    color:white ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding:0 0 20px;
    margin:0 auto;
    display:block;
    margin-bottom: 10px; 
    margin-top: 20px;
    line-height: -2px;

}

.form-outter{
     height:100px
}

@media screen and (min-width: 800px) {
    .loginbox {
      margin: 1em 2em;
    }
  }




