.landingPage {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 25px;
}

.landingPage > .landingPage__product {
    margin-bottom: 25px;
}

.landingPage > .landingPage__product > .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 
.landingPage > .landingPage__product > .heading > .headingText {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.landingPage > .landingPage__people > .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.landingPage > .landingPage__people > .heading > .headingText {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.landingPage > .landingPage__people {
    margin-bottom: 25px;
}

.landingPage > .landingPage__company > .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.landingPage > .landingPage__company > .heading > .headingText {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.landingPage > .landingPage__product > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPage > .landingPage__people > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPage > .landingPage__company > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.landingPage > .landingPage__product > .content > .container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 25px;
}

.landingPage > .landingPage__people > .content > .container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-top: 25px;
}

.landingPage > .landingPage__company > .content > .container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    margin-top: 25px;
}

@media (max-width: 1080px) and (min-width: 0px) {

    .landingPage {
        width: 100%;
        margin: auto;
        background-color: white;
        padding: 25px;
    }

    .landingPage > .landingPage__product > .content > .container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 25px;
    }

    .landingPage > .landingPage__people > .content > .container {
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        margin-top: 25px;
    }

    .landingPage > .landingPage__company > .content > .container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}


/* @media (max-width: 1080px) and (min-width: 0px) {

    .landingPage {
        width: 100%;
        margin: auto;
        background-color: white;
        padding: 25px;
    }

    .landingPage > .landingPage__product > .content > .container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 25px;
    }

    .landingPage > .landingPage__people > .content > .container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 25px;
    }
} */