.feedCard {
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.feedCard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.feedCard__header > .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedCard__header > .left > .userDetails {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedCard__header > .left > .userDetails > .name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20.2667px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
}

.feedCard__header > .left > .userDetails > .brand {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 15.2px;
    line-height: 19px;
    
    color: #000000;
}

.feedCard__header > .left > .userDetails > .time {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 15.2px;
    line-height: 19px;
    
    color: rgba(0, 0, 0, 0.75);
}

.feedCard__text {
    font-family: Poppins;
    font-size: 20.2667px;
    line-height: 30px;
    font-weight: bold;
    color: black;
    margin-top: 25px;
    text-align: justify;
    padding: 10px;
}

.feedCard__img {
    display: flex;
    flex-direction: column;
}

.feedCard__img > img {
    width: 100%;
    height: 300px;
}

.feedCard__img > .response {
    display: flex;
    margin-left: 25px;
    padding: 10px;
    align-items: center;
}

.feedCard__img > .response > .like {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

.feedCard__img > .response > .like > p {
    margin-left: 5px;
    font-weight: bold;
}

.feedCard__img > .response > .comment {
    font-weight: bold;
}

.feedCard__img > .action {
    display: flex;
    padding: 10px;
    align-items: center;
}
.feedCard__img > .action > .like {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.feedCard__img > .action > .comment {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.feedCard__img > .action > .share {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.feedCard__img > .action > .like > p{
    margin-left: 5px;
    font-weight: bold;
}
.feedCard__img > .action > .comment > p {
    margin-left: 5px;
    font-weight: bold;
}
.feedCard__img > .action > .share > p {
    margin-left: 5px;
    font-weight: bold;
}

.feedCard__comment {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.feedCard__comment > .more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    cursor: pointer;
}

.feedCard__comment > .new {
    display: flex;
    margin-top: 75px;
    margin-bottom: 25px;
    align-items: center;
}

.feedCard__comment > .new > form {
    display: flex;
    margin-left: 10px;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}

.feedCard__comment > .new > form > input {
    border: none;
    width: 100%;
}

.feedCard__comment > .new > form > input:focus {
    outline: none;
}

.feedCard__comment > .new > form > button {
    width: 69px;
    background: #0A66C2;
    border-radius: 4px;
    border-color: #0A66C2;
    padding: 5px;
    color: white;
}